.fondo{

display: inline-block;
 height: 500px;
 margin: 80px 0px 0px 80px;
 width: 38%;
 background-color: rgba(60, 62, 69, 0.479);
 border-radius: 10px;
 border: 2px ;
 padding: 20px;
margin-bottom: 15px;

}
.formulario{
height: auto;
 margin: 10px 0px 0px 80px;
 width: 68%;
 background-color: rgba(60, 62, 69, 0.479);
 border-radius: 30px;

}

.formulario .name{
    display: block;
}
.formulario .name label{
    font-size: 15px;
    display: flex;
    flex-direction: column;

}
.formulario .vida{
    display: block;
}
